include header

block content
  include navbar
  div.main
    div.container
      each items in art
        div.list
          div.banner
            img(src="#{items.cover}")
          h3.title
            span #{items.type.name}
            a(href="/details/#{items.id}") #{items.title}
          div.info
            b MiuKu 
            span 发布于
            time #{moment(items.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
            span
              i(class="iconfont icon-liuyan1")
              0       
          div.abstract
          p #{items.abstract}
          div.visit
            ul
              each elment in items.visits
                li
                  a(href="javascript:;")
                    img(src="#{elment.pic}",title="#{elment.username}")      
  if count > 5                
    div.page
      ul
        li
          a(href="/#{page-1>0?'page/'+(page-1):''}")< 上一页
        li.count
          span  #{Number(page)+1} / #{Math.ceil(count/5)}
        li
          a(href="/page/#{Math.ceil(count/10)>page?Number(page)+1:page}") 下一页 >
  include footer
            